# --- Unity ---
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]serSettings/
[Mm]emoryCaptures/

# --- Asset Store ---
Assets/AssetStoreTools*

# --- Visual Studio ---
.vs/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.opendb
*.VC.db
*.slnx

# --- VS Code ---
.vscode/

# --- OS spécifiques ---
.DS_Store
Thumbs.db

# --- Crashlytics / Divers ---
sysinfo.txt
Assets/StreamingAssets/crashlytics-build.properties
*.apk
*.unitypackage